*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    background:linear-gradient(rgba(255, 0, 0, 0.077),rgb(247, 0, 255),rgba(255, 192, 203, 0.885));
    min-height: 3000px;
    background-repeat: no-repeat;
}
  
  
.container{
    max-width: 800px;
    margin: auto;
    padding: 10px;
}
  
.txtb{
    width: 100%;
    border-bottom: 2px solid #000;
    background:rgb(208, 213, 176);
    padding: 10px;
    font-size: 25px;
    border-radius:5px;
}
  
h3{
    margin: 10px 0;
    font-size: 23px;
}

.task{
    width: 100%;
    background: rgba(221, 106, 11, 0.961);
    padding: 18px;
    margin: 6px 0;
    overflow: hidden;
    font-size: 20px;
    font-weight: 900;
}
  
.task i{
    float: right;
    margin-left: 20px;
    cursor: pointer;
    background: rgba(221, 214, 11, 0);
}
  
.comp .task{
    background: #00ff9d;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
}

.container{
    position: relative;
    top:80px;
}
h4{
    font-size: 30px;
    text-align: center;
    color:rgb(9, 255, 0);
    padding:5px;
    position:relative;
    bottom:20px;
}